<!DOCTYPE html>
<html>
<head>
  <title>Крестики-нолики</title>
  <%= stylesheet_link_tag    :application, :media => "all" %>
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag "#{params[:controller]}" %>
  <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'shared/header' %>
  
  <%= yield %>
  
</body>
</html>
