<!DOCTYPE html>
<html>
<head>
  <title>Крестики-нолики</title>
  <%= stylesheet_link_tag :application, :media => "all" %>
  <%= render 'shared/javascripts' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/header' %>
  <%= yield %>
</body>
</html>
